---
const { title, excerpt, date, tags, slug } = Astro.props;
---

<article>
  <h2><a href={`/blog/${slug}`}>{title}</a></h2>
  <time>{date}</time>
  <p>{excerpt}</p>
  <div class="tags">
    {tags.map(tag => (
      <span>{tag}</span>
    ))}
  </div>
</article>
